/*clear default style*/
body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul,img{
    margin:0;
    padding:0;
    border:0;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
body,#app{
    height:100%;
    color: #FFFFFF;
    font-family: "PingFang SC";
}
*{
    margin:0;
    padding:0;
    border:0;
    font-size: 14px;
}
/*set theme color*/
a{
    text-decoration:none;
    color: #FFFFFF;
}
span,a{
    display:inline-block;
}
